.main{
    margin-top: 20px;
    margin-left:20px;
    border: 1px solid black;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main p{
    align-items: center;
}